/* #region reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #endregion reset */

/* #region utilities */

.d-flex {
    display: flex;
}

/* #endregion utilities */

/* #region common */

body {
    height: 100vh;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

/* #endregion common */

/* #region carousel */

.carousel {
    width: 70%;
    height: 50%;
    margin: auto;
    position: relative;

    .pics{
        height: 100%;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
            border-radius: 10px;
            
    
            &:not(.active){
                display: none;
            }
        }
    }

}

/* #endregion carousel */

/* #region buttons */

.control-buttons {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2%;
    width: 100%;
    height: 95%;

    & .btn {
        padding: 0.5rem;
        border-radius: 50%;
        border: none;
        background-color: rgba(255, 255, 255, 0.664);

        &:hover{
            cursor: pointer;
            transform: scale(1.4);
        }
    }
}

/* #endregion buttons */

/* #region thumbnails */

.thumbnails{
    position: absolute;
    flex-direction: column;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;

    & img{
        width: 100%;
        height: 20%;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 10px;

        &:not(.layer-active){
            filter: brightness(0.4);
        }

        &.layer-active{
            transform: scale(1.2);
            box-shadow: 0 0 5px 3px rgb(255, 255, 255);
            z-index: 10;
            transition: 0.5s;
        }
    }
}

/* #endregion thumbnails */